body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-image: url(fondo.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contenedor-principal{
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 4px solid;
  border-radius: 25px;
  background-color: aqua;
  margin-top: 40px;
}

.screen{
  width: 100%;

}
.screen input{
  width: 100%;
  margin-bottom: 10px;
}

.number{
  width: 22%;
  margin-bottom: 10px;
}

.operator{
  width: 22%;
  margin-bottom: 10px;
}

.result{
  width: 22%;
  margin-bottom: 10px;
}

.coma{
  width: 22%;
  margin-bottom: 10px;
}

.reset{
  width: 50%;
}